<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.5/dist/quill.snow.css"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.5/dist/quill.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.min.js"></script>
    <style>
      .blogs {
        display: flex;
        width: 50%;
        flex-direction: column;
      }
      .paginationjs-content {
        width: 100%;
      }
      .middle {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .blogs .paginationjs {
        display: flex;
        justify-content: center;
        margin: 10px;
      }
      .topicContent {
        max-width: 100px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .search {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
      }
      .search input {
        margin: 10px;
        width: 300px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/landing">
          <img
            src="{{ url_for('static', filename='logo.png') }}"
            class="d-inline-block align-top"
            alt=""
            height="30"
            loading="lazy"
          />
          <!-- Bootstrap -->
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/landing">All Questions</a>
            </li>
            <!-- <li class="nav-item">
                        <a class="nav-link" href="/newblog">New Blog</a>
                    </li> -->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Blogs
              </a>
              <div
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <a class="dropdown-item" href="/allblogs">All Blogs</a>
                <a class="dropdown-item" href="/userblogs">My Blogs</a>
                <a class="dropdown-item" href="/savedblogs">Saved Blogs</a>
                <a class="dropdown-item" href="/newblog">New Blog</a>
              </div>
            </li>
            <!-- My Questions Dropdown -->
            <!-- <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                My Questions
              </a>
              <div
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <a class="dropdown-item" href="/accepted">Accepted</a>
                <a class="dropdown-item" href="/rejected">Rejected</a>
                <a class="dropdown-item" href="/saved">Saved</a>
                <a class="dropdown-item" href="/new">New Question</a>
              </div>
            </li> -->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Jobs
              </a>
              <div
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <a class="dropdown-item" href="/all-jobs">Jobs</a>
                <a class="dropdown-item" href="/add-job">Add Job</a>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- create a search input and search button clicking on which the blogs are filtered and displayed -->
    <div class="search">
      <input
        type="text"
        id="search"
        class="form-control"
        placeholder="Search Jobs"
      />
      <button id="searchBtn" class="btn btn-primary">Search</button>
    </div>

    <!-- Use pagination and tables to display the id, topic with link to the id -->
    <div class="middle">
      <div class="blogs">
        <div id="pagination" class="paginationjs"></div>
        <!-- <div id="dataContainer" class="paginationjs-content"> -->
        <!-- add a table header with blog id, topic -->
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Company ID</th>
              <th scope="col">Company Name</th>
            </tr>
          </thead>
          <tbody id="dataContainer" class="paginationjs-content"></tbody>
        </table>
        <!-- </div> -->
      </div>
    </div>
    <script>
            const allJobs = {{ jobs | safe }};
            console.log(allJobs);
            // const tags = {{ tags | safe }};
            const itemsPerPage = 5;

            function DisplayData(allJobs) {
              var data = [];
              var ind = 1;
              for (var job in allJobs) {
                  console.log(job);
                data.push(
                  `
                      <tr>
                          <td scope="row">${ind}</td>
                          <td class="topicContent"><a href="/job-details/${job}">${allJobs[job]}</a></td>
                      </tr>
                  `
                );
                ind++;
              }
              renderTable(data);
            }
              DisplayData(allJobs);
              function renderTable(data) {
                  //clear the pagination container
                  console.log(1);
                  console.log(data);
                      $(document).ready(function () {
                          $("#pagination").pagination({
                              dataSource: data,
                              pageSize: itemsPerPage,
                              callback: function (data, pagination) {
                              const container = $("#dataContainer");
                              container.empty();

                              $.each(data, function (index, item) {
                                  console.log(item);
                                  container.append(item);
                              });
                              },
                          });
                          });
                  }
              // search button click event don't use jquery
              document.getElementById("searchBtn").addEventListener("click", function () {
                  const search = document.getElementById("search").value.trim();
                  var jobs = [];
                  for (var job in allJobs) {
                      jobs.push(allJobs[job]);
                  }
                  const filteredJobs = jobs.filter((job) => job.toLowerCase().includes(search.toLowerCase()));
                  DisplayData(filteredJobs);
              });
              // on enter key press in search input, trigger the search button click event
              document.getElementById("search").addEventListener("keypress", function (e) {
                  if (e.key === "Enter") {
                  document.getElementById("searchBtn").click();
                  }
              });
              
    </script>
    <!-- <footer class="bg-dark text-white text-center py-3 mt-5">
        <div class="container">
            <p>&copy; 2024 Your Website. All rights reserved.</p>
        </div>
    </footer> -->
  </body>
</html>