<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- <link href="styles.css" rel="stylesheet" /> -->
  <link href="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.5/dist/quill.snow.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.5/dist/quill.js"></script>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css"
  />
  <script src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" />
  <style>
    /*center the topic div*/
        .topic {
            text-align: center;
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .topic-input{
            width: 50%;
        }
        /*center the editor1 div*/
        /* #editor1 {
            margin: 0 auto;
        } */
        #editor1, #toolbar-container{
            margin: 0 auto;
            width: 75%;   
        }
        #editor1{
            height: 500px;
        }
        /*center the save-content button*/
        .all-tags-div{
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: -40px;
        }
        .save1{
            margin-top: 50px;
            text-align: center;
            margin-bottom: 50px;
        }
        /* styling for tags section */
        /* .all-tags-div{
          left: 50%;
        } */
        .all-tags {
          width: 460px;
          display: flex;
          flex-direction: column;
          align-items: center; 
        }
        .tags {
          width: 300px;
          height: 150px;
          border: 1px solid black;
        }
        .search{
          margin: 10px;
          display: flex;
          flex-direction: row;
          gap: 10px;
        }
        #suggestions {
          display: none;
          position: absolute;
          background-color: white;
          border: 1px solid #ccc;
          max-height: 200px;
          overflow-y: auto;
          width: auto;
          z-index: 1;
        }
        .suggestion {
          padding: 8px 12px;
          cursor: pointer;
        }
        .suggestion:hover {
          background-color: #f0f0f0;
        }
        .selected {
          background-color: #f0f0f0;
        }
        .tags{
          overflow: auto;
          scroll-behavior: smooth;
        }
        .display{
          /* display: grid;
          set the no. of max columns as 2
          grid-template-columns: auto;
          grid-template-rows: auto; */
          display: flex;
          flex-wrap: wrap;
        }
        .tag {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 5px;
          padding: 5px 10px;
          border: 1px solid #ddd;
          border-radius: 3px;
          background-color: #eee;
        }
        .tagHover{
          display: block;
          position: absolute;
          background-color: rgba(0, 0, 0, 0.8);
          height: auto;
          margin-bottom: 70px;
          z-index: -1;
          color: white;
          padding: 5px;
          opacity: 0;
          max-width: 55%;
          word-wrap: break-word;
        }
        .show{
          animation: fadeIn 0.3s forwards;
        }
        .hide{
          animation: fadeOut 0.3s forwards;
        }
        @keyframes fadeIn {
          from {
            opacity: 0;
            z-index: -1;
          }
          to {
            opacity: 1;
            z-index: 1;
          }
        }
        @keyframes fadeOut {
          from {
            opacity: 1;
            z-index: 1;
          }
          to {
            opacity: 0;
            z-index: -1;
          }
        }
        .tagText{
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 240px;
        }
        .tag .tagText {
          margin-right: 10px;
        }
        .tag .close {
          cursor: pointer;
          display: inline-block;
        /* Adjust margin-left to position close button correctly */
          margin-left: auto
        }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/landing">
        <img
          src="{{ url_for('static', filename='logo.png') }}"
          class="d-inline-block align-top"
          alt=""
          height="30"
          loading="lazy"
        />
        <!-- Bootstrap -->
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/landing">All Questions</a>
          </li>
          <!-- <li class="nav-item">
                      <a class="nav-link" href="/newblog">New Blog</a>
                  </li> -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Blogs
            </a>
            <div
              class="dropdown-menu"
              aria-labelledby="navbarDropdownMenuLink"
            >
              <a class="dropdown-item" href="/allblogs">All Blogs</a>
              <a class="dropdown-item" href="/userblogs">My Blogs</a>
              <a class="dropdown-item" href="/savedblogs">Saved Blogs</a>
              <a class="dropdown-item" href="/newblog">New Blog</a>
            </div>
          </li>
          <!-- My Questions Dropdown -->
          <!-- <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              My Questions
            </a>
            <div
              class="dropdown-menu"
              aria-labelledby="navbarDropdownMenuLink"
            >
              <a class="dropdown-item" href="/accepted">Accepted</a>
              <a class="dropdown-item" href="/rejected">Rejected</a>
              <a class="dropdown-item" href="/saved">Saved</a>
              <a class="dropdown-item" href="/new">New Question</a>
            </div>
          </li> -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Jobs
            </a>
            <div
              class="dropdown-menu"
              aria-labelledby="navbarDropdownMenuLink"
            >
              <a class="dropdown-item" href="/all-jobs">Jobs</a>
              <a class="dropdown-item" href="/add-job">Add Job</a>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
      <!-- <form action="/save"> -->
        <div class="topic">
          <!-- a input box to take topic input -->
          <label for="topic">Topic:</label>
          <input type="text" id="topic" class="topic-input" placeholder="Enter the topic of the blog" required/>
        </div>
        <div class="all-tags-div">
          <div class="all-tags">
            <h3>Tags</h3>
            <!-- add a search bar to search through the available company tags -->
            <div class="tags">
              <div class="display"></div>
            </div>
            <div class="search">
              <div class="search-bar">
                <input type="text" id="searchInput" placeholder="Search for tags..." />
                <div id="suggestions"></div>
              </div>
              <button id="addTagButton">Add Tag</button>
            </div>
            <p id = "error"></p>
            <!-- <button id="submit">Submit</button> -->
            </div>
        </div>
        <div id="toolbar-container">
            <span class="ql-formats">
              <select class="ql-font"></select>
              <select class="ql-size"></select>
            </span>
            <span class="ql-formats">
              <button class="ql-bold"></button>
              <button class="ql-italic"></button>
              <button class="ql-underline"></button>
              <button class="ql-strike"></button>
            </span>
            <span class="ql-formats">
              <select class="ql-color"></select>
              <select class="ql-background"></select>
            </span>
            <span class="ql-formats">
              <button class="ql-script" value="sub"></button>
              <button class="ql-script" value="super"></button>
            </span>
            <span class="ql-formats">
              <button class="ql-header" value="1"></button>
              <button class="ql-header" value="2"></button>
              <button class="ql-blockquote"></button>
              <button class="ql-code-block"></button>
            </span>
            <span class="ql-formats">
              <button class="ql-list" value="ordered"></button>
              <button class="ql-list" value="bullet"></button>
              <button class="ql-indent" value="-1"></button>
              <button class="ql-indent" value="+1"></button>
            </span>
            <span class="ql-formats">
              <button class="ql-direction" value="rtl"></button>
              <select class="ql-align"></select>
            </span>
            <span class="ql-formats">
              <button class="ql-link"></button>
              <button class="ql-image"></button>
              <button class="ql-video"></button>
              <button class="ql-formula"></button>
            </span>
            <span class="ql-formats">
              <button class="ql-clean"></button>
            </span>
          </div>
            </div>
      <div id="editor1">
      </div>
      
      <div class = "save1">
        <button id="save-button">Save Draft</button>
        <button id="publish-button">Publish</button>
      </div>
      <script>
        const quill1 = new Quill('#editor1', {
          modules: {
            syntax: true,
            toolbar: '#toolbar-container',
          },
          placeholder: 'Compose an epic...',
          theme: 'snow',
        });
        // script for tags section
        var tags = [];
  fetch("/getalltags")
    .then((response) => response.json())
    .then((data) => {
      console.log(data);
      let tag = data.tags;
      let display = document.querySelector(".display");
      tags = tag;
    });
  console.log(tags);
const error = document.getElementById("error");
const submitButton = document.getElementById("submit");
// submitButton.addEventListener("click", () => {
//     let selectedTags = Array.from(document.querySelector(".display").children).map(tag => tag.querySelector(".tagText").textContent);
//     console.log(selectedTags);
//     fetch("/submit", {
//         method: "POST",
//         body: JSON.stringify({companyTags: selectedTags}),
//         headers: {
//             "Content-Type": "application/json"
//         }
//     })
//     window.location.href = "/display";
// });
  function search() {
    const searchInput = document.getElementById("searchInput");
    const suggestions = document.getElementById("suggestions");
    const query = searchInput.value.toLowerCase();
    suggestions.innerHTML = "";
    if(query === "") {
      suggestions.style.display = "none";
      selectedIndex = -1;
        return;
    }
    const filteredElements = tags.filter((element) =>
      element.toLowerCase().startsWith(query)
    );
    // reset the scroll bar of the suggestions box
    // Display filtered suggestions
    filteredElements.forEach((element, index) => {
      const div = document.createElement("div");
      div.textContent = element;
      div.classList.add("suggestion");
      if (index === selectedIndex) {
        div.classList.add("selected");
      }
      div.addEventListener("click", () => {
        // When suggestion is clicked, fill search input with suggestion
        searchInput.value = element;
        selectedIndex = -1;
        suggestions.style.display = "none"; // Hide suggestions
      });
      suggestions.appendChild(div);
    });
    // Show suggestions if there are any, otherwise hide
    suggestions.style.display = filteredElements.length ? "block" : "none";
    suggestions.scrollTop = 0;
  }

  // Perform search on input change whevever user clicks on the search input


  // document.getElementById("searchInput").addEventListener("input", search);

  // Perform search on input change whevever user clicks on the search input before even the user starts to type
  document.getElementById("searchInput").addEventListener("focus", search);
  document.getElementById("searchInput").addEventListener("input", search);
  document.getElementById("searchInput").addEventListener('keypress', function (e) {
    if (e.key === 'Enter') {
      addTag();
    }
  });
  document.getElementById("addTagButton").addEventListener("click", addTag);
  // document.getElementById("searchInput").addEventListener("input", search);

  // Hide suggestions when search input loses focus, but not if suggestions box is hovered over
  document.getElementById("searchInput").addEventListener("blur", () => {
    if (!document.getElementById("suggestions").matches(":hover")) {
      selectedIndex = -1;
      document.getElementById("suggestions").style.display = "none";
    }
  });

  //Keep suggestions box displayed as long as it's being hovered over
  // document.getElementById("suggestions").addEventListener("mouseenter", () => {
  //   document.getElementById("suggestions").style.display = "block";
  // });

  // // Hide suggestions box when mouse leaves it
  // document.getElementById("suggestions").addEventListener("mouseleave", () => {
  //   document.getElementById("suggestions").style.display = "none";
  // });

  // Handle keyboard navigation
  let selectedIndex = -1; // Index of the currently selected suggestion
  document.getElementById("searchInput").addEventListener("keydown", (event) => {
    const suggestions = document.querySelectorAll(".suggestion");
    if (event.key === "ArrowDown") {
      selectedIndex = Math.min(selectedIndex + 1, suggestions.length - 1);
      updateSelectedSuggestion(suggestions);
      if(selectedIndex >= 0){
        suggestions[selectedIndex].scrollIntoView({behavior: "smooth", block: "end", inline: "nearest"});
      }
    } else if (event.key === "ArrowUp") {
        event.preventDefault();
      selectedIndex = Math.max(selectedIndex - 1, -1);
      //move the scroll bar of the suggestions box
      if(selectedIndex >= 0){
        suggestions[selectedIndex].scrollIntoView({behavior: "smooth", block: "end", inline: "nearest"});
      }
      updateSelectedSuggestion(suggestions);
    } else if (event.key === "Enter") {
      if (selectedIndex !== -1) {
        document.getElementById("searchInput").value = suggestions[selectedIndex].textContent;
        suggestions[selectedIndex].click();
      }
    } else if (event.key === "Escape") {
      suggestions.style.display = "none";
    }
  });

  // Function to update the selected suggestion and apply visual changes
  function updateSelectedSuggestion(suggestions) {
    suggestions.forEach((suggestion, index) => {
      if (index === selectedIndex) {
        suggestion.classList.add("selected");
      } else {
        suggestion.classList.remove("selected");
      }
    }); 
  }
  const displayElement = document.querySelector(".display");
  // const addTagButton = document.getElementById("addTagButton");


  // addTagButton.addEventListener("click", () => {
  //   const tagText = document.getElementById("searchInput").value.trim();
  //   if (tagText) {
  //       // get the text contents of all the tags
  //       let tagTexts = Array.from(displayElement.children).map(tag => tag.querySelector(".tagText").textContent);
  //       console.log(tagTexts);
  //       if(tagTexts.includes(tagText)){
  //           error.innerHTML = "Tag already exists";
  //           // wait for 2 seconds and then remove the error message
  //           setTimeout(() => {
  //               error.innerHTML = "";
  //           }, 1500);
  //           document.getElementById("searchInput").value = "";
  //           return;
  //       }
  //       error.innerHTML = "";
  //     const tag = createTag(tagText);
  //     displayElement.insertBefore(tag, displayElement.firstChild);
  //     document.getElementById("searchInput").value = ""; // Clear input after adding tag
  //   }
  // });
  function addTag(){
    const tagText = document.getElementById("searchInput").value.trim();
    if (tagText) {
        // get the text contents of all the tags
        let tagTexts = Array.from(displayElement.children).map(tag => tag.querySelector(".tagText").textContent);
        console.log(tagTexts);
        if(tagTexts.includes(tagText)){
            error.innerHTML = "Tag already exists";
            // wait for 2 seconds and then remove the error message
            setTimeout(() => {
                error.innerHTML = "";
            }, 1500);
            document.getElementById("searchInput").value = "";
            return;
        }
        error.innerHTML = "";
      const tag = createTag(tagText);
      displayElement.insertBefore(tag, displayElement.firstChild);
      document.getElementById("searchInput").value = ""; // Clear input after adding tag
    }
  }

  function createTag(text) {
    const tagElement = document.createElement("div");
    tagElement.classList.add("tag");
    const textElement = document.createElement("span");
    textElement.classList.add("tagText");
    textElement.textContent = text;
    const closeButton = document.createElement("span");
    closeButton.classList.add("close");
    closeButton.textContent = "×"; // Close button symbol
    tagElement.appendChild(textElement);
    tagElement.appendChild(closeButton);
    // add a div to display the complete text of the tag on hover
    const tagHover = document.createElement("div");
    tagHover.classList.add("tagHover");
    tagHover.textContent = text;
    // const tagHoverText = document.createElement("span");
    // tagHoverText.textContent = text;
    // tagHover.appendChild(tagHoverText);
    // tagHover.textContent = text;
    tagElement.appendChild(tagHover);
    
    textElement.addEventListener("mouseover", () => {
      // tagHover.style.display = "block";
      tagHover.classList.remove("hide");
      tagHover.classList.add("show");
    });
    textElement.addEventListener("mouseout", () => {
      tagHover.classList.remove("show");
      tagHover.classList.add("hide");
      // tagHover.style.display = "none";
    });
    return tagElement;
  }
  // Handle close button clicks
  document.addEventListener("click", (event) => {
    if (event.target.classList.contains("close")) {
      const closeButton = event.target;
      const tagElement = closeButton.parentElement; // Get the parent tag element
      displayElement.removeChild(tagElement);
    }
  });
        //end
        const saveButton = document.getElementById("save-button");
        saveButton.addEventListener("click", saveContent);
        const publishButton = document.getElementById("publish-button");
        publishButton.addEventListener("click", publishContent);
    
        /*make entering the topic of the blog mandatory */
        const blogId = "{{blogId | safe}}";
        const prevContent = {{content | safe}};
        const prevTopic = "{{topic | safe}}";
        const prevTags = {{tags | safe}};
        console.log(prevContent);
        // add the content to the editor
        quill1.setContents(prevContent);
        // add the topic to the topic input
        document.getElementById("topic").value = prevTopic;
        // add the tags to the display element
        prevTags.forEach(tag => {
          const tagElement = createTag(tag);
          displayElement.insertBefore(tagElement, displayElement.firstChild);
        });
        // content = "";
        function saveContent() {
          const topic = document.getElementById("topic");
          if (topic.value.trim() === "") {
            alert("Please fill out the topic field");
            return;
          }
            content = quill1.getContents(); 
            console.log(content);
            console.log(typeof content)
            content = JSON.stringify(content);

            // get the tags
            let tags = Array.from(displayElement.children).map(tag => tag.querySelector(".tagText").textContent);
            // console.log(tags);

            /*send the request to flask backend*/
            // send the content to the backend with the id of the blog
            fetch("/saveblog" + "/" + blogId, {
              method: "POST",
              body: JSON.stringify({content: content, topic: topic.value, tags: tags}),
              headers: {
                "Content-Type": "application/json"
              }
            }).then(response => {
                  if (response.ok) {
                      // If the response is successful, redirect to the landing page
                      window.location.href = '/savedblogs';
                  } else {
                      // Handle error if necessary
                      console.error('Failed to save content');
                  }
              }).catch(error => {
                  console.error('Error:', error);
              });
            
            // redirect to saved blogs page
            // window.location.href = "/savedblogs";
        }
        function publishContent(){
            const topic = document.getElementById("topic");
            if (topic.value.trim() === "") {
                alert("Please fill out the topic field");
                return;
            }
                content = quill1.getContents(); 
                console.log(content);
                console.log(typeof content)
                content = JSON.stringify(content);
    
                // get the tags
                let tags = Array.from(displayElement.children).map(tag => tag.querySelector(".tagText").textContent);
                // console.log(tags);
    
                /*send the request to flask backend*/
                // send the content to the backend with the id of the blog
                fetch("/publishblog" + '/' + blogId, {
                method: "POST",
                body: JSON.stringify({content: content, topic: topic.value, tags: tags}),
                headers: {
                    "Content-Type": "application/json"
                }
                }).then(response => {
                  if (response.ok) {
                      // If the response is successful, redirect to the landing page
                      window.location.href = '/userblogs';
                  } else {
                      // Handle error if necessary
                      console.error('Failed to save content');
                  }
              }).catch(error => {
                  console.error('Error:', error);
              });
        }
      </script>
    <!-- <footer class="bg-dark text-white text-center py-3 mt-5">
        <div class="container">
            <p>&copy; 2024 Your Website. All rights reserved.</p>
        </div>
    </footer> -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
