<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.css"
    />
    <!-- <link href="styles.css" rel="stylesheet" /> -->
    <link
      href="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.5/dist/quill.snow.css"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.5/dist/quill.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.min.js"></script>
    <style>
      .questions {
        display: flex;
        width: 50%;
        flex-direction: column;
      }
      .paginationjs-content {
        width: 100%;
        height: auto;
      }
      .middle {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .questions .paginationjs {
        display: flex;
        justify-content: center;
        margin: 10px;
      }
      .topicContent {
        max-width: 100px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .search {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
      }
      .search input {
        margin: 10px;
        width: 300px;
      }
      /* tags section */
      .company-tags {
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 10px;
        top: 20%;
      }
      .tags {
        width: 200px;
        height: 150px;
        border: 1px solid black;
      }
      .search-tags {
        margin: 10px;
        display: flex;
        flex-direction: row;
        gap: 10px;
      }
      #suggestions {
        display: none;
        position: absolute;
        background-color: white;
        border: 1px solid #ccc;
        max-height: 200px;
        overflow-y: auto;
        width: auto;
        z-index: 1;
      }
      .suggestion {
        padding: 8px 12px;
        cursor: pointer;
      }
      .suggestion:hover {
        background-color: #f0f0f0;
      }
      .selected {
        background-color: #f0f0f0;
      }
      .tags {
        overflow: auto;
        scroll-behavior: smooth;
      }
      .display {
        /* display: grid;
    set the no. of max columns as 2
    grid-template-columns: auto;
    grid-template-rows: auto; */
        display: flex;
        flex-wrap: wrap;
      }
      .tag {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 5px;
        padding: 5px 10px;
        border: 1px solid #ddd;
        border-radius: 3px;
        background-color: #eee;
      }
      .tagHover {
        display: block;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
        max-height: 200px;
        overflow-y: auto;
        width: auto;
        margin-bottom: 70px;
        z-index: -1;
        color: white;
        padding: 5px;
        opacity: 0;
      }
      .show {
        animation: fadeIn 0.3s forwards;
      }
      .hide {
        animation: fadeOut 0.3s forwards;
      }
      @keyframes fadeIn {
        from {
          opacity: 0;
          z-index: -1;
        }
        to {
          opacity: 1;
          z-index: 1;
        }
      }
      @keyframes fadeOut {
        from {
          opacity: 1;
          z-index: 1;
        }
        to {
          opacity: 0;
          z-index: -1;
        }
      }
      .tagText {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 240px;
      }
      .tag .tagText {
        margin-right: 10px;
      }
      .tag .close {
        cursor: pointer;
        display: inline-block;
        /* Adjust margin-left to position close button correctly */
        margin-left: auto;
      }
      /* styling for topic tags */
        .topictags {
            width: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            right: 10px;
            top: 55%;
        }
        .topic-tags {
            width: 200px;
            height: 150px;
            border: 1px solid black;
        }
        .topic-search {
            margin: 10px;
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
        #topic-suggestions {
            display: none;
            position: absolute;
            background-color: white;
            border: 1px solid #ccc;
            max-height: 200px;
            overflow-y: auto;
            width: auto;
            z-index: 1;
        }
        .topic-suggestion {
            padding: 8px 12px;
            cursor: pointer;
        }
        .topic-suggestion:hover {
            background-color: #f0f0f0;
        }
        .topic-selected {
            background-color: #f0f0f0;
        }
        .topic-tags {
            overflow: auto;
            scroll-behavior: smooth;
        }
        .topic-display {
            /* display: grid;
        set the no. of max columns as 2
        grid-template-columns: auto;
        grid-template-rows: auto; */
            display: flex;
            flex-wrap: wrap;
        }

    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/landing">
          <img
            src="{{ url_for('static', filename='logo.png') }}"
            class="d-inline-block align-top"
            alt=""
            height="30"
            loading="lazy"
          />
          <!-- Bootstrap -->
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/landing">All Questions</a>
            </li>
            <!-- <li class="nav-item">
                        <a class="nav-link" href="/newblog">New Blog</a>
                    </li> -->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Blogs
              </a>
              <div
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <a class="dropdown-item" href="/allblogs">All Blogs</a>
                <a class="dropdown-item" href="/userblogs">My Blogs</a>
                <a class="dropdown-item" href="/savedblogs">Saved Blogs</a>
                <a class="dropdown-item" href="/newblog">New Blog</a>
              </div>
            </li>
            <!-- My Questions Dropdown -->
            <!-- <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                My Questions
              </a>
              <div
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <a class="dropdown-item" href="/accepted">Accepted</a>
                <a class="dropdown-item" href="/rejected">Rejected</a>
                <a class="dropdown-item" href="/saved">Saved</a>
                <a class="dropdown-item" href="/new">New Question</a>
              </div>
            </li> -->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Jobs
              </a>
              <div
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <a class="dropdown-item" href="/all-jobs">Jobs</a>
                <a class="dropdown-item" href="/add-job">Add Job</a>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- create a search input and search button clicking on which the blogs are filtered and displayed -->
    <div class="search">
      <input
        type="text"
        id="search"
        class="form-control"
        placeholder="Search Questions"
      />
      <button id="searchBtn" class="btn btn-primary">Search</button>
    </div>

    <!-- Use pagination and tables to display the id, topic with link to the id -->
    <div class="middle">
      <div class="questions">
        <div id="pagination" class="paginationjs"></div>
        <!-- <div id="dataContainer" class="paginationjs-content"> -->
        <!-- add a table header with blog id, topic -->
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Questions</th>
              <th scope="col">Link</th>
            </tr>
          </thead>
          <tbody id="dataContainer" class="paginationjs-content"></tbody>
        </table>
        <!-- </div> -->
      </div>
    </div>
    <div class="company-tags">
      <h3>Company Tags</h3>
      <!-- add a search bar to search through the available company tags -->
      <div class="tags">
        <div class="display"></div>
      </div>
      <div class="search-tags">
        <div class="search-bar">
          <input
            type="text"
            id="searchInput"
            placeholder="Search for tags..."
          />
          <div id="suggestions"></div>
        </div>
        <button id="addTagButton">Add Tag</button>
      </div>
      <p id="error"></p>
    </div>
    <div class="topictags">
        <h3>Topic Tags</h3>
        <!-- add a search bar to search through the available company tags -->
        <div class="topic-tags">
            <div class="topic-display"></div>
        </div>
        <div class="topic-search">
        <div class="topic-search-bar">
            <input
            type="text"
            id="topic-searchInput"
            placeholder="Search for topics..."
            />
            <div id="topic-suggestions"></div>
        </div>
        <button id="topic-addTagButton">Add Tag</button>
        </div>
        <p id="topic-error"></p>
    </div>
    <script>
            const allQuestions = {{questions | safe}};
            for (let i = 0; i < allQuestions.length; i++) {
              allQuestions[i].tags = allQuestions[i].tags.split(",");
              allQuestions[i].tags = allQuestions[i].tags.map((tag) => tag.trim());
            }
            // const tags = {{ tags | safe }};
            const itemsPerPage = 10;

            function DisplayData(allQuestions) {
              var data = [];
              var ind = 1;
              for (var question in allQuestions) {
                  console.log(question);
                data.push(
                  `
                      <tr>
                          <td class="topicContent">${allQuestions[question].problem}</a></td>
                          <td class="topicContent"><a href="${allQuestions[question].link}" target="_blank">Link</a></td>
                      </tr>
                  `
                );
                ind++;
              }
              renderTable(data);
            }
              DisplayData(allQuestions);
              function renderTable(data) {
                  //clear the pagination container
                  console.log(1);
                  console.log(data);
                      $(document).ready(function () {
                          $("#pagination").pagination({
                              dataSource: data,
                              pageSize: itemsPerPage,
                              callback: function (data, pagination) {
                              const container = $("#dataContainer");
                              container.empty();

                              $.each(data, function (index, item) {
                                  console.log(item);
                                  container.append(item);
                              });
                              },
                          });
                          });
                  }
              // search button click event don't use jquery
              document.getElementById("searchBtn").addEventListener("click", function () {
                  const search = document.getElementById("search").value.trim();
                    const filteredQuestions = allQuestions.filter((question) => question.problem.toLowerCase().includes(search.toLowerCase()));
                  DisplayData(filteredQuestions);
              });
              // on enter key press in search input, trigger the search button click event
              document.getElementById("search").addEventListener("keypress", function (e) {
                  if (e.key === "Enter") {
                  document.getElementById("searchBtn").click();
                  }
              });
              var tags = [];
        fetch("/getallcompanytags")
          .then((response) => response.json())
          .then((data) => {
            console.log(data);
            let tag = data.tags;
            let display = document.querySelector(".display");
            tags = tag;
          });
        console.log(tags);
        let selectedIndex = -1;
      const error = document.getElementById("error");
        function search() {
          const searchInput = document.getElementById("searchInput");
          const suggestions = document.getElementById("suggestions");
          const query = searchInput.value.toLowerCase().trim();
          suggestions.innerHTML = "";
          if(query === "") {
            suggestions.style.display = "none";
            selectedIndex = -1;
              return;
          }
          const filteredElements = tags.filter((element) =>
            element.toLowerCase().startsWith(query)
          );
          // reset the scroll bar of the suggestions box
          // Display filtered suggestions
          filteredElements.forEach((element, index) => {
            const div = document.createElement("div");
            div.textContent = element;
            div.classList.add("suggestion");
            if (index === selectedIndex) {
              div.classList.add("selected");
            }
            div.addEventListener("click", () => {
              // When suggestion is clicked, fill search input with suggestion
              searchInput.value = element;
              selectedIndex = -1;
              suggestions.style.display = "none"; // Hide suggestions
            });
            suggestions.appendChild(div);
          });
          // Show suggestions if there are any, otherwise hide
          suggestions.style.display = filteredElements.length ? "block" : "none";
          suggestions.scrollTop = 0;
        }

        // Perform search on input change whevever user clicks on the search input before even the user starts to type
        document.getElementById("searchInput").addEventListener("focus", search);
        document.getElementById("searchInput").addEventListener("input", search);
        document.getElementById("searchInput").addEventListener('keypress', function (e) {
          if (e.key === 'Enter') {
            // remove the suggestions box
            suggestions = document.getElementById("suggestions");
            suggestions.style.display = "none";
            addTag();
          }
        });
        document.getElementById("addTagButton").addEventListener("click", addTag);
        // document.getElementById("searchInput").addEventListener("input", search);

        // Hide suggestions when search input loses focus, but not if suggestions box is hovered over
        document.getElementById("searchInput").addEventListener("blur", () => {
          if (!document.getElementById("suggestions").matches(":hover")) {
            selectedIndex = -1;
            document.getElementById("suggestions").style.display = "none";
          }
        });


        // Handle keyboard navigation
         // Index of the currently selected suggestion
        document.getElementById("searchInput").addEventListener("keydown", (event) => {
          const suggestions = document.querySelectorAll(".suggestion");
          if (event.key === "ArrowDown") {
            selectedIndex = Math.min(selectedIndex + 1, suggestions.length - 1);
            updateSelectedSuggestion(suggestions);
            if(selectedIndex >= 0){
              suggestions[selectedIndex].scrollIntoView({behavior: "smooth", block: "end", inline: "nearest"});
            }
          } else if (event.key === "ArrowUp") {
              event.preventDefault();
            selectedIndex = Math.max(selectedIndex - 1, -1);
            //move the scroll bar of the suggestions box
            if(selectedIndex >= 0){
              suggestions[selectedIndex].scrollIntoView({behavior: "smooth", block: "end", inline: "nearest"});
            }
            updateSelectedSuggestion(suggestions);
          } else if (event.key === "Enter") {
            if (selectedIndex !== -1) {
              document.getElementById("searchInput").value = suggestions[selectedIndex].textContent;
              suggestions[selectedIndex].click();
            }
          } else if (event.key === "Escape") {
            suggestions.style.display = "none";
          }
        });

        // Function to update the selected suggestion and apply visual changes
        function updateSelectedSuggestion(suggestions) {
          suggestions.forEach((suggestion, index) => {
            if (index === selectedIndex) {
              suggestion.classList.add("selected");
            } else {
              suggestion.classList.remove("selected");
            }
          });
        }
        const displayElement = document.querySelector(".display");
        function addTag(){
          const tagText = document.getElementById("searchInput").value.trim();
          if (tagText) {
              // get the text contents of all the tags
              let tagTexts = Array.from(displayElement.children).map(tag => tag.querySelector(".tagText").textContent);
              console.log(tagTexts);
              // only add the tag if the whole tag text is not present in the tagTexts array
              let flag = 0;
              for(let i = 0; i < tagTexts.length; i++){
                if(tagTexts[i].toLowerCase() === tagText.toLowerCase()){
                  flag = 1;
                  break;
                }
              }
              if(flag === 1){
                error.innerHTML = "Tag already exists";
                // wait for 2 seconds and then remove the error message
                setTimeout(() => {
                    error.innerHTML = "";
                }, 1500);
                document.getElementById("searchInput").value = "";
                return;
              }

              // if(tagTexts.includes(tagText)){
              //     error.innerHTML = "Tag already exists";
              //     // wait for 2 seconds and then remove the error message
              //     setTimeout(() => {
              //         error.innerHTML = "";
              //     }, 1500);
              //     document.getElementById("searchInput").value = "";
              //     return;
              // }
              error.innerHTML = "";
            const tag = createTag(tagText);
            displayElement.insertBefore(tag, displayElement.firstChild);
            document.getElementById("searchInput").value = ""; // Clear input after adding tag
            // filter the blogs based on the tags in the blogs array which has the tags as its 3rd parameter
            // get the company tags and topic tags and filter the questions based on the tags
            // const selectedTags = document.querySelectorAll(".tag");
            // const selectedTagsArray = Array.from(selectedTags);
              const selectedTags = document.querySelectorAll(".tag");
            const selectedTagsArray = Array.from(selectedTags);
            // const selectedTagsText = selectedTagsArray.map(tag => tag.querySelector(".tagText").textContent);
            // console.log(selectedTagsText);
            // convert allBlogs.tags into a array
            const filteredQuestions = [];
            console.log(allQuestions[0]['tags']);
            // console.log(allBlogs[0].tags);
            for(let i = 0; i < allQuestions.length; i++){
              let cnt = 0;
              for(let j = 0; j < allQuestions[i].tags.length; j++){
                for(let k = 0; k < selectedTagsArray.length; k++){
                  curr = allQuestions[i].tags[j];
                  curr = curr.trim()
                  // trim from both the sides
                  if(curr.toLowerCase() === selectedTagsArray[k].querySelector(".tagText").textContent.trim().toLowerCase()){
                    cnt++;
                    break;
                  }
                }
              }
              if(cnt >= selectedTagsArray.length){
                filteredQuestions.push(allQuestions[i]);
              }
            }
            console.log(filteredQuestions);
            DisplayData(filteredQuestions);

          }
        }

        function createTag(text) {
          const tagElement = document.createElement("div");
          tagElement.classList.add("tag");
          const textElement = document.createElement("span");
          textElement.classList.add("tagText");
          textElement.textContent = text;
          const closeButton = document.createElement("span");
          closeButton.classList.add("close");
          closeButton.textContent = "×"; // Close button symbol
          tagElement.appendChild(textElement);
          tagElement.appendChild(closeButton);
          // add a div to display the complete text of the tag on hover
          const tagHover = document.createElement("div");
          tagHover.classList.add("tagHover");
          tagHover.textContent = text;
          // const tagHoverText = document.createElement("span");
          // tagHoverText.textContent = text;
          // tagHover.appendChild(tagHoverText);
          // tagHover.textContent = text;
          tagElement.appendChild(tagHover);

          textElement.addEventListener("mouseover", () => {
            // tagHover.style.display = "block";
            tagHover.classList.remove("hide");
            tagHover.classList.add("show");
          });
          textElement.addEventListener("mouseout", () => {
            tagHover.classList.remove("show");
            tagHover.classList.add("hide");
            // tagHover.style.display = "none";
          });
          return tagElement;
        }
        // Handle close button clicks
        document.addEventListener("click", (event) => {
          if (event.target.classList.contains("close") && event.target.parentElement.parentElement.classList.contains("display")) {
            const closeButton = event.target;
            const tagElement = closeButton.parentElement; // Get the parent tag element
            displayElement.removeChild(tagElement);
            const selectedTags = document.querySelectorAll(".tag");
            const selectedTagsArray = Array.from(selectedTags);
            // const selectedTagsText = selectedTagsArray.map(tag => tag.querySelector(".tagText").textContent);
            // console.log(selectedTagsText);
            // convert allBlogs.tags into a array
            const filteredQuestions = [];
            console.log(allQuestions[0]['tags']);
            // console.log(allBlogs[0].tags);
            for(let i = 0; i < allQuestions.length; i++){
              let cnt = 0;
              for(let j = 0; j < allQuestions[i].tags.length; j++){
                for(let k = 0; k < selectedTagsArray.length; k++){
                  curr = allQuestions[i].tags[j];
                  curr = curr.trim()
                  // trim from both the sides
                  if(curr.toLowerCase() === selectedTagsArray[k].querySelector(".tagText").textContent.trim().toLowerCase()){
                    cnt++;
                    break;
                  }
                }
              }
              if(cnt >= selectedTagsArray.length){
                filteredQuestions.push(allQuestions[i]);
              }
            }
            console.log(filteredQuestions);
            DisplayData(filteredQuestions);
          }
          // filter the blogs based on the tags in the blogs array which has the tags as its 3rd parameter

        });
        // give the js code for the topic tags section
        topicTags = [];
        fetch("/getalltopictags")
          .then((response) => response.json())
          .then((data) => {
            console.log(data);
            let tag = data.tags;
            let display = document.querySelector(".topic-display");
            topicTags = tag;
          });
        console.log(topicTags);
        let topicselectedIndex = -1;
        const topicError = document.getElementById("topic-error");
        function topicSearch() {
          const searchInput = document.getElementById("topic-searchInput");
          const suggestions = document.getElementById("topic-suggestions");
          const query = searchInput.value.toLowerCase();
          suggestions.innerHTML = "";
          if(query === "") {
            suggestions.style.display = "none";
            topicselectedIndex = -1;
              return;
          }
          const filteredElements = topicTags.filter((element) =>
            element.toLowerCase().startsWith(query)
          );
          // reset the scroll bar of the suggestions box
          // Display filtered suggestions
          filteredElements.forEach((element, index) => {
            const div = document.createElement("div");
            div.textContent = element;
            div.classList.add("topic-suggestion");
            if (index === topicselectedIndex) {
              div.classList.add("topic-selected");
            }
            div.addEventListener("click", () => {
              // When suggestion is clicked, fill search input with suggestion
              searchInput.value = element;
              topicselectedIndex = -1;
              suggestions.style.display = "none"; // Hide suggestions
            });
            suggestions.appendChild(div);
          });
          // Show suggestions if there are any, otherwise hide
          suggestions.style.display = filteredElements.length ? "block" : "none";
          suggestions.scrollTop = 0;
        }

        // Perform search on input change whevever user clicks on the search input before even the user starts to type
        document.getElementById("topic-searchInput").addEventListener("focus", topicSearch);
        document.getElementById("topic-searchInput").addEventListener("input", topicSearch);
        document.getElementById("topic-searchInput").addEventListener('keypress', function (e) {
          if (e.key === 'Enter') {
            // remove the suggestions box
            suggestions = document.getElementById("topic-suggestions");
            suggestions.style.display = "none";
            addTopicTag();
            document.getElementById("topic-searchInput").value = "";
          }
        });
        document.getElementById("topic-addTagButton").addEventListener("click", addTopicTag);
        // document.getElementById("searchInput").addEventListener("input", search);

        // Hide suggestions when search input loses focus, but not if suggestions box is hovered over
        document.getElementById("topic-searchInput").addEventListener("blur", () => {
          if (!document.getElementById("topic-suggestions").matches(":hover")) {
            topicselectedIndex = -1;
            document.getElementById("topic-suggestions").style.display = "none";
          }
        });


        // Handle keyboard navigation
         // Index of the currently selected suggestion

        document.getElementById("topic-searchInput").addEventListener("keydown", (event) => {
          const suggestions = document.querySelectorAll(".topic-suggestion");
          if (event.key === "ArrowDown") {
            topicselectedIndex = Math.min(topicselectedIndex + 1, suggestions.length - 1);
            topicupdateSelectedSuggestion(suggestions);
            if(topicselectedIndex >= 0){
              suggestions[topicselectedIndex].scrollIntoView({behavior: "smooth", block: "end", inline: "nearest"});
            }
          } else if (event.key === "ArrowUp") {
              event.preventDefault();
            topicselectedIndex = Math.max(topicselectedIndex - 1, -1);
            //move the scroll bar of the suggestions box
            if(topicselectedIndex >= 0){
              suggestions[topicselectedIndex].scrollIntoView({behavior: "smooth", block: "end", inline: "nearest"});
            }
            topicupdateSelectedSuggestion(suggestions);
          } else if (event.key === "Enter") {
            if (topicselectedIndex !== -1) {
              document.getElementById("topic-searchInput").value = suggestions[topicselectedIndex].textContent;
              suggestions[topicselectedIndex].click();
            }
          } else if (event.key === "Escape") {
            suggestions.style.display = "none";
          }
        });

        // Function to update the selected suggestion and apply visual changes
        function topicupdateSelectedSuggestion(suggestions) {
          suggestions.forEach((suggestion, index) => {
            if (index === topicselectedIndex) {
              suggestion.classList.add("topic-selected");
            } else {
              suggestion.classList.remove("topic-selected");
            }
          });
        }
        const topicDisplayElement = document.querySelector(".topic-display");


        function addTopicTag(){
          const tagText = document.getElementById("topic-searchInput").value.trim();
          document.getElementById("topic-searchInput").value = "";
          console.log("hello");
          console.log("1" + tagText);
          let temp = document.getElementById("topic-searchInput").value.trim();
          console.log("2" + temp);
          if (tagText) {
              // get the text contents of all the tags
              let tagTexts = Array.from(topicDisplayElement.children).map(tag => tag.querySelector(".tagText").textContent);
              console.log(tagTexts);
              // only add the tag if the whole tag text is not present in the tagTexts array
              let flag = 0;
              for(let i = 0; i < tagTexts.length; i++){
                if(tagTexts[i].toLowerCase() === tagText.toLowerCase()){
                  console.log(tagTexts[i]);
                  console.log(tagText);
                  flag = 1;
                  break;
                }
              }
              if(flag === 1){
                topicError.innerHTML = "Tag already exists";
                // wait for 2 seconds and then remove the error message
                setTimeout(() => {
                    topicError.innerHTML = "";
                }, 1500);
                document.getElementById("topic-searchInput").value = "";
                return;
              }
              // if(tagTexts.includes(tagText)){
              //     topicError.innerHTML = "Tag already exists";
              //     // wait for 2 seconds and then remove the error message
              //     setTimeout(() => {
              //         topicError.innerHTML = "";
              //     }, 1500);
              //     document.getElementById("topic-searchInput").value = "";
              //     return;
              // }
              topicError.innerHTML = "";
            const tag = createTag(tagText);
            topicDisplayElement.insertBefore(tag, topicDisplayElement.firstChild);
            // document.getElementById("topic-searchInput").value = ""; // Clear input after adding tag
            // filter the blogs based on the tags in the blogs array which has the tags as its 3rd parameter
            const selectedTags = document.querySelectorAll(".tag");
            const selectedTagsArray = Array.from(selectedTags);
            // const selectedTagsText = selectedTagsArray.map(tag => tag.querySelector(".tagText").textContent);
            // console.log(selectedTagsText);
            // convert allBlogs.tags into a array
            const filteredQuestions = [];
            console.log(allQuestions[0]['tags']);
            // console.log(allBlogs[0].tags);
            for(let i = 0; i < allQuestions.length; i++){
              let cnt = 0;
              for(let j = 0; j < allQuestions[i].tags.length; j++){
                for(let k = 0; k < selectedTagsArray.length; k++){
                  curr = allQuestions[i].tags[j];
                  curr = curr.trim()
                  // trim from both the sides
                  if(curr.toLowerCase() === selectedTagsArray[k].querySelector(".tagText").textContent.trim().toLowerCase()){
                    cnt++;
                    break;
                  }
                }
              }
              if(cnt >= selectedTagsArray.length){
                filteredQuestions.push(allQuestions[i]);
              }
            }
            console.log(filteredQuestions);
            DisplayData(filteredQuestions);
          }
        }


        // Handle close button clicks
        document.addEventListener("click", (event) => {
          // 
          if (event.target.classList.contains("close") && event.target.parentElement.parentElement.classList.contains("topic-display")) {
            const closeButton = event.target;
            const tagElement = closeButton.parentElement; // Get the parent tag element
            topicDisplayElement.removeChild(tagElement);
            const selectedTags = document.querySelectorAll(".tag");
            const selectedTagsArray = Array.from(selectedTags);
            // const selectedTagsText = selectedTagsArray.map(tag => tag.querySelector(".tagText").textContent);
            // console.log(selectedTagsText);
            // convert allBlogs.tags into a array
            const filteredQuestions = [];
            console.log(allQuestions[0]['tags']);
            // console.log(allBlogs[0].tags);
            for(let i = 0; i < allQuestions.length; i++){
              let cnt = 0;
              for(let j = 0; j < allQuestions[i].tags.length; j++){
                for(let k = 0; k < selectedTagsArray.length; k++){
                  curr = allQuestions[i].tags[j];
                  curr = curr.trim()
                  // trim from both the sides
                  if(curr.toLowerCase() === selectedTagsArray[k].querySelector(".tagText").textContent.trim().toLowerCase()){
                    cnt++;
                    break;
                  }
                }
              }
              if(cnt >= selectedTagsArray.length){
                filteredQuestions.push(allQuestions[i]);
              }
            }
            console.log(filteredQuestions);
            DisplayData(filteredQuestions);
          }
          // filter the blogs based on the tags in the blogs array which has the tags as its 3rd parameter

        });


    </script>

  </body>
</html>
